<%= form_with model: book do |f| %>
<%= render 'layouts/errors', obj: @book %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Create Book', class: 'btn btn-success' %>
  </div>
  # star追加
  <% if book.id.nil? %>
  <div class="form-group" id="star"></div>
  <%= f.label :star %>
  <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
  <div id="post_raty"></div>
  <script>
  $(document).on('turbolinks:load', function() {
    let elem = document.queryselector('#post_raty');
    if (elem == null) return;
    
    elem.innerHTML = ""
    let opt = {
      starOn: '<%= aseet_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off".png') %>",
      starHalf: "<%= asset_path('star-half.png')%>",
      scoreName: 'book[star]',
      };
      raty(elem,opt);
        });
  </script>
  <% else %>
  <div class="form-group">
    <%= render "static_rate", book: book %>
  </div>
   <% end %>
  <div class="form-group">
    <%= f.submit class: 'btn btn-succece' %>
  </div>
  <% end %>
 
